<header class="header-area overlay" style="margin-top: -80px;">
    <div class="banner" style="margin-left: -470px">
        <div class="container">
            <h1 style="font-weight: 700">CỘNG ĐỒNG HỌC LẬP TRÌNH</h1>
            <p class="">Học lập trình với các khóa học chất lượng, hoàn toàn miễn phí!</p>
            <a href="/danhsachkhoahoc" class="button btn-danger">THAM GIA NGAY</a>
        </div>
    </div>
</header>
<main>
    <section id="content" class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Nếu bạn muốn tự học lập trình, bước những bước đầu tiên với những nguồn kiến thức khổng lồ có vẻ hơi khó khăn và đáng sợ.
					Nhưng có rất nhiều trang dạy miễn phí (và rẻ tiền) bạn có thể sử dụng để tự học lập trình và cung cấp cho mình tất cả thông tin cần thiết, 
					dạy  các kỹ thuật mới và làm cho quá trình học tập này trở nên thú vị.</p>
                </div>
                <div class="col-md-4">
                    <p>Thay vì siêu tập trung vào việc học một ngôn ngữ lập trình cụ thể, bạn cũng có thể học cách giải quyết vấn đề theo cách mà một máy tính sẽ hiểu.
					Nói cách khác, cải thiện kỹ năng của bạn với các khái niệm như nhận dạng mẫu, thuật toán và trừu tượng.</p>
                </div>
                <div class="col-md-4">
                    <p>Nhờ có internet, bạn không phải đăng ký vào một chương trình đại học bốn năm để học các nguyên tắc cơ bản của khoa học máy tính;
					một số lớp học đại học có sẵn trực tuyến miễn phí (hoặc một khoản phí nhỏ).</p>
                </div>
            </div>
        </div>
    </section>
</main>